* {font-family: 'Rubik', sans-serif;}

a {color: #8ceceb;}

.article-hover:hover {
  box-shadow: 0 2px 18px rgba(10, 10, 10, 0.1), 0 0 20px 5px rgba(10, 10, 10, 0.1);
}

#form-avatar {
  border-radius: 35px;
}

#author {
  font-style: italic;
}

#artBody {
  margin-top: 20px;
}

#commentButton {
  border-radius: 18px;
  padding-left: 5px;
}

#formButton {
  margin-top: 18px;
  margin-right: 20px;  
}

.front-page-header {
  background-image: linear-gradient(-2deg, #FFFFFF 15%, #e0f9f6 50%, #FFFFFF 75%);  
}

.form {
  display: flex;
  background-color: #e0f9f6;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.textarea {min-height: 5em;}

.footer-custom {
  text-align: center;
  font-weight: 700;
  background-image: linear-gradient(-1deg, #FFFFFF 15%, #e0f9f6 50%, #FFFFFF 75%);  
  color: black;
  width: 100%;
  padding: 1.5em;
}

.footer-custom a { 
  color: inherit;
  text-decoration: underline; 
}

.rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {margin: .25em 0;}

.text-left {text-align: left;}

.uppercase {text-transform: uppercase;}

#ncAvatar {
  border-radius: 35px;
}

.no-top-borderadius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bold {font-weight: 900;}

.nav-item a.is-tab.is-active, 
a.nav-item.is-tab.is-active {
  border-bottom: 3px solid #23ccea;
  border-top: 3px solid transparent;
  color: #23ccea;
}

.nav-item a.is-tab:hover, 
a.nav-item.is-tab:hover {
  border-bottom: 1px solid #23ccea;
  border-top: 1px solid transparent;
}

.nav-item {
  font-size: 1.25em;
}